.hero-banner{
    height: 700px;
    background-image: url("http://localhost/99_40_web/resource/hero_wall_1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -600px;
    /* padding-bottom: 50px; */
    margin-top: 80px;
}
.left-side{
    /* grid-column: 1/5; */
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.right-side{
    /* grid-column: 6/12; */
    width: 50%;
    display: flex;
    align-items: center;
}
.top-banner{
    height: 460px;
    background-image: url("http://localhost/99_40_web/resource/hero_wall_1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -600px;
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.left-side .banner-title{
    color: white;
    font-size: 60px;
    font-weight: bold;

}
.item-center{
    display: flex;
    justify-content: center;
}
.banner-title{
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.con-form{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    
}
.cont-type{
    width: 30%;
}
.cont-value{
    width: 90%;
}
.text-msg{
    width: 100%;
    height: 100px;
}
.sec-1 .left-side{
    /* grid-column: 1/5; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;

}
.sec-1 .right-side{
    width: 50%;
    display: flex;
    justify-content: right;

    /* grid-column: 6/12; */
}
.sec-1 .image{
    background-image: url("http://localhost/99_40_web/resource/image_1.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    border: 0px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.37);
}

.sec-2{
    background-color: rgba(255, 255, 255, 0.342);
    background-image: url("http://localhost/99_40_web/resource/hero_wall_2.jpg");
    background-position-y: -500px;
    background-blend-mode:difference;
    font-size: 32px;
    font-weight: bold;
    gap: 50px;
    display: flex;
    flex-direction: column;
}
/* .video{
    position:static;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
} */
.one-panel{
    display: flex;
    flex-direction: row;
    
}
.sec-2 .left-line{
    /* grid-column: 1/5; */
    /* grid-row: 1; */
    margin-right: 20px;
    display: flex;
    text-align: right;
    justify-content: right;
    width: 700px;

}
.sec-2 .right-line{
    /* grid-column: 6/12; */
    /* grid-row: 1; */
    /* height: 100px; */
    margin-left: 20px;
    display: flex;
    text-align: left;
    width: 700px;
    padding-top: 50px;
    /* border-left: 2px solid black; */
}
.sec-2 .line{
    width: 5px;
    height: auto;
    background-color: black;
    grid-column: 5/6;
    grid-row: 1;
    display: flex;
    text-align: center;
}

.middle-btn{
    grid-column: 1/12;
    display: flex;
    justify-content: center;
}
.sec-3{
    background-image: linear-gradient(to right, #D8ECB7 , #ffffff);
    display: flex;
    flex-direction: column;
}
.sec-3 .news-board{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.main-news{
    /* grid-column: 1/4; */
    background-color: #f3f3f3;
    width: 550px;
    height: 650px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 0px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.137);
}
.main-news .third-btn{
    align-self: flex-end;
}
.main-news img{
    width: 100%;
    object-fit: cover;

}
.status div{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between */
    gap: 10px;
    color: rgb(95, 95, 95);
}
.main-news .status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-selector{
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    overflow-x: hidden;
}
.news-selector .news{
    width: 580px;
    height: 120px;
    background-color: #ffffff;
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.137);
}
.news-selector .news img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    border: 0px solid transparent;
    border-radius: 5px;
}
.news-selector .news .mini-news-title{
    font-size: 20px;
    font-weight: bold;
}
.sec-4{
    display: flex;
    flex-direction: column;
}
.img-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    
}
.img-row img{
    width: 280px;
    height: 190px;
    object-fit: cover;
    border: 0px solid transparent;
    border-radius: 5px;
}
.com-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.com-card{
    width: 100%;
    height: auto;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-top{
    display: flex;
    justify-content: space-between;
}
.com-card .pre-name{
    color: rgb(70, 70, 70);
    font-weight: bold;
}
.card-top .status{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.likes{
    width: 50px;
}
.in-date{
    width: 120px;
}
.question{
    font-weight: bold;
}
.answer{
    font-weight: bold;
    padding-left: 5%;
    color: #78b416;
}
/* .com-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
.news-card{
    width: 100%;
    height: auto;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: left;
}
.img-side{
    width: 300px;

}
.img-side img{
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 0px solid transparent;
    border-radius: 5px;
}
.text-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-side .status{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
}
.news-title{
    font-size: 20px;
    font-weight: bold;
}
.album{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.album img{
    width: 100%;
    
}
.photos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.col{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 2000px;
}
.col img{
    height: auto;
    width: 100%;
    
}

.album-area{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.con-area{
    display: flex;
    flex-direction: row;
}
.con-area .left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.con-area .left-side div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.con-area .right-side{
    width: 50%;
    display: flex;
    align-content: flex-start;
}
.about-area{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-area .separate{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.separate .left-side, .separate .right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.part{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-area ul{
    list-style: decimal;
}
.about-area li{
    font-size: 18px;
}
.topic{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}
